section {
    width: 80%;
    height: 800px;
    background:center/40% no-repeat url(https://images.unsplash.com/photo-1560707303-4e980ce876ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80) burlywood;
    /* background-image: url(https://images.unsplash.com/photo-1560707303-4e980ce876ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80); */
    /* background-size: cover; */
   
    margin: 0 auto;
}
h1{
    color: white;
    font-size: 100px;
}
p{
    font-family: 'Roboto', sans-serif;
}